[Unit]
Description=Wireless neopixel server
After=sshd.service

[Service]
WorkingDirectory=/opt/illuminati
ExecStart=flask run --host 0.0.0.0
Restart=always
User=root

[Install]
WantedBy=multi-user.target
